@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.topNavCard {
    background-color: #34a5da;
    font-weight: 400;
    font-size: 16px;
    padding: 20px 40px;
}

.mainCard {
    background-color: black;
    padding-top: 10vh;
}

.mainCard .card {
    background: border-box rgb(223, 223, 223);
    background-position: center;
    width: 75%;
    padding: 25px 0px 60px 40px;
    margin: auto;    
}

.card .cardCounter {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    padding-right: 2rem;
}

.mainCard .name {
    border-bottom: 2px solid #34a5da;
    width: 17vh;
}

.mainCard .infoCard {
    padding: 20px 0;
    line-height: 27px;
}

.mainCard ol {
    padding: 0 52px;
    line-height: 22px;
}

.mainCard li {
    padding-left: 10px;
    font-weight: 400;
}

.cardContainer {
    padding-bottom: 10vh;
}

.cardContainer .buttons {
    display: flex;
    justify-content: space-around;
    padding: 2vh;
}

.cardContainer .prevBtn {
    background-color: black;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}

.cardContainer .nextBtn {  
    background-color: black;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}

.cardContainer .middleBtn {
    border: none;
    border-radius: 10px;
    padding: 4px 10px 4px 10px;
    background-color: #34a5da;
    color: white;
    letter-spacing: 1.5px;
    font-size: 13px;
    font-weight: bold;    
}

.cardContainer .middleContainer {
    display: flex;
    justify-content: space-evenly;
}

.middleContainer .middleBtn {
    margin-right: 20px;
}
